<div style="margin-top: 20px">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Best Seller</h2>
    </div>
    <ul class="timeline">
      <li>
        <a href="../../assets/img/mem.png" target="_blank">
          <div class="timeline-image">
            <img
              class="rounded-circle img-fluid"
              src="../../assets/img/mem.png"
              alt="..."
            />
          </div>
        </a>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>Member</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              Profiles of lab members, including students and permanent
              researchers, featuring essential details like ID, name, CV, photo,
              and contact information. Members contribute through publications,
              open-source tools, and active participation in lab events.
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <a href="../../assets/img/publi.png" target="_blank">
          <div class="timeline-image">
            <img
              class="rounded-circle img-fluid"
              src="../../assets/img/publi.png"
              alt="..."
            />
          </div>
        </a>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>Publication</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              Repository of research output, including journal articles, book
              chapters, etc. Members can publish, and visitors can explore and
              download publications. Advanced search options facilitate easy
              access based on criteria like publication year and type.
            </p>
          </div>
        </div>
      </li>
      <li>
        <a href="../../assets/img/outil.png" target="_blank">
          <div class="timeline-image">
            <img
              class="rounded-circle img-fluid"
              src="../../assets/img/outil.png"
              alt="..."
            />
          </div>
        </a>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>Tools</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              Showcase of open-source tools developed by lab members, available
              for download. This section promotes collaboration and knowledge
              sharing within the research community.
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <a href="../../assets/img/even.png" target="_blank">
          <div class="timeline-image">
            <img
              class="rounded-circle img-fluid"
              src="../../assets/img/even.png"
              alt="..."
            />
          </div>
        </a>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>Event</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              Highlights upcoming lab events, providing information for both
              visitors and members. Members can manage their involvement,
              fostering coordination and collaboration.
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <h4>
            Be Part
            <br />
            Of Our
            <br />
            Laboratory!
          </h4>
        </div>
      </li>
    </ul>
  </div>
</div>
